
        .send-btn{
            background-color: rgb(25, 135, 84);
            color:white;
            border:none;
            padding:8px 16px;
            border-radius:4px;
            cursor:pointer;
            margin-left:8px;
            font-size: 15px;
        }
        .chat-input{
            padding:8px;
            font-size:15px;
            border:2px solid gray;
            border-radius:4px;
            flex-grow: 1;
        }
        .chat-input-div{
            display: flex;
         
        }
        .app-div{
            max-width:500px;
            margin:auto;
            margin-top:50px;
            border:2px solid black;
            padding:16px;
            border-radius:8px;
            box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
            font-family: Arial, sans-serif;
            height: 100vh;
            display: flex;
            flex-direction: column;

        }
        .robot-div, .user-div{
            display: flex;
            align-items: center;
            margin:8px 0;
        }
        .robot-div img, .user-div img{
            border-radius: 50%;
            margin:0 8px;
        }
        .robot-div{
            justify-content: flex-start;
        } 
        .user-div{
            justify-content: flex-end;
        }  
        .chat-msg-div{
            background-color: antiquewhite;
            padding:8px 12px;
            border-radius:16px;
            max-width:70%;
        } 
        .chatbot-img{
            width: 45px;
            height:45px;
        }
        .chat-msgs-div{
            flex-grow: 1;
            overflow: scroll;
            scrollbar-width: none;

            
        }
   